html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	color:inherit
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display:block
}

body{
	line-height:1
}

ol,ul{
	list-style:none
}

blockquote,q{
	quotes:none
}

blockquote:before,blockquote:after,q:before,q:after{
	content:'';
	content:none
}

table{
	border-collapse:collapse;
	border-spacing:0
}

*{
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box
}

body,input,textarea,button,select{
	font-family:Helvetica,Arial,Sans-Serif
}

body{
	color:#555;
	font-size:14px
	font-family: 'Patua One', cursive;
}

h1{
	color:#039577;
	font-weight:lighter;
	font-size:32px;
	letter-spacing:1px;
	padding:20px 0
}

h2{
	font-size:22px;
	padding:10px 0
}

h3{
	font-size:18px;
	padding:8px 0
}

h4{
	font-size:14px;
	padding:6px 0
}

h5{
	font-size:12px;
	font-weight:bold;
	padding:4px 0
}

p{
	line-height:1.5em;
	padding:.5em 0
}

p.small{
	font-size:12px
}

a{
	color:#227DBF;
	text-decoration:none
}

a:hover{
	text-decoration:underline
}

a:focus{
	outline:0;
	text-decoration:underline
}

hr{
	border:0;
	border-top:1px solid silver
}

.message{
	color:#ffffff;
	font-size:14px;
	font-weight:bold
}

.section{
	*zoom:1;
	padding-bottom:5px
}

.section:before,.section:after{
	content:"";
	display:table
}

.section:after{
	clear:both
}

.section .header{
	width:100%;
	height:40px;
	margin-bottom:1em;
	padding-bottom:.5em;
	border-bottom:1px solid silver;
	position:relative
}

.section .header h1,.section .header h2,.section .header h3,.section .header h4,.section .header h5{
	position:absolute;
	bottom:10px;
	padding:0;
	float:left;
	text-transform:uppercase
}

.section .header .options{
	position:absolute;
	bottom:10px;
	right:0;
	color:silver;
	font-weight:lighter;
	font-size:14px
}

ul.menu{
	color:#555;
	list-style-type:none
}

ul.feature{
	color:#555;
	list-style-type:none
}

ul.feature li{
	display:inline-block;
	margin:0 15px;

}

ul.menu li:first-child{
	margin-left:0
}

ul.menu li:last-child{
	margin-right:0
}

ul.menu li{
	display:inline-block;
	margin:0 15px;
	font-size:16px;
	font-weight:bold;
	color: #ffffff;
	text-transform:uppercase
}

ul.menu li:first-child{
	margin-left:0
}

ul.menu li:last-child{
	margin-right:0
}

@media all and (max-width:600px){
	ul.menu li{
		margin:0 8px
	}

	ul.menu li:first-child{
		margin-left:0
	}

	ul.menu li:last-child{
		margin-right:0
	}

}

button{
	margin:0;
	padding-top:0;
	padding-bottom:0;
	color:#f0f0f0;
	background:#999;
	border:0;
	font-weight:bold;
	text-transform:uppercase
}

button.disabled{
	color:#999
}

button:hover{
	cursor:pointer
}

button:focus{
	outline:0;
	border-color:#227DBF;
	box-shadow:0 0 5px 1px #999
}

button.large{
	font-size:13px;
	padding-left:25px;
	padding-right:25px;
	height:50px
}

button.large.search{
	background:url("/static/img/site/common/standard/icon_search_s12_white.png") no-repeat 25px 18px #999;
	padding-left:45px
}

button.medium{
	font-size:13px;
	padding-left:20px;
	padding-right:20px;
	height:40px
}

button.medium.search{
	background:url("/static/img/site/common/standard/icon_search_s12_white.png") no-repeat 20px 13px #999;
	padding-left:40px
}

button.small{
	font-size:11px;
	padding-left:15px;
	padding-right:15px;
	height:30px
}

button.small.search{
	background:url("/static/img/site/common/standard/icon_search_s12_white.png") no-repeat 15px 7px #999;
	padding-left:35px
}

button.green{
	background:#227DBF;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$top_color,endColorstr=$bottom_color);
	background:-webkit-gradient(linear,left top,left bottom,from(#227DBF),to(#227DBF));
	background:-moz-linear-gradient(top,#227DBF,#227DBF);
	color:white
}

button.green:hover{
	background:#99CCFF;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$top_color,endColorstr=$bottom_color);
	background:-webkit-gradient(linear,left top,left bottom,from(#99CCFF),to(#99CCFF));
	background:-moz-linear-gradient(top,#99CCFF,#99CCFF)
}

button.green.disabled{
	color:#00775b
}

button.red{
	background:#d66259;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$top_color,endColorstr=$bottom_color);
	background:-webkit-gradient(linear,left top,left bottom,from(#bd483f),to(#d66259));
	background:-moz-linear-gradient(top,#bd483f,#d66259);
	color:white
}

button.red.disabled{
	color:#999
}

input{
	border-radius:0;
	-webkit-border-radius:0
}

input::-webkit-input-placeholder{
	color:#999
}

input:-moz-placeholder{
	color:#999
}

input::-moz-placeholder{
	color:#999
}

input:-ms-input-placeholder{
	color:#999
}

input.disabled{
	color:silver
}

input[type=text].large,input[type=email].large,input[type=password].large{
	width:300px;
	height:50px;
	padding-left:15px;
	padding-right:15px;
	font-size:16px;
	box-shadow:0 1px 1px 0 rgba(255,255,255,0.8),inset 0 3px 8px -5px rgba(0,0,0,0.6)
}

input[type=text].large.dark,input[type=email].large.dark,input[type=password].large.dark{
	box-shadow:0 0,inset 0 3px 8px -5px rgba(0,0,0,0.6)
}

input[type=text].large.search,input[type=email].large.search,input[type=password].large.search{
	background:url("/static/img/site/common/standard/icon_search_s12_grey.png") no-repeat 15px 17px white;
	padding-left:35px
}

input[type=text].medium,input[type=email].medium,input[type=password].medium{
	width:220px;
	height:40px;
	padding-left:10px;
	padding-right:10px;
	font-size:13px;
	box-shadow:0 1px 1px 0 rgba(255,255,255,0.8),inset 0 3px 5px -4px rgba(0,0,0,0.6)
}

input[type=text].medium.dark,input[type=email].medium.dark,input[type=password].medium.dark{
	box-shadow:0 0,inset 0 3px 5px -4px rgba(0,0,0,0.6)
}

input[type=text].medium.search,input[type=email].medium.search,input[type=password].medium.search{
	background:url("/static/img/site/common/standard/icon_search_s12_grey.png") no-repeat 10px 13px white;
	padding-left:30px
}

input[type=text].small,input[type=email].small,input[type=password].small{
	width:220px;
	height:30px;
	padding-left:10px;
	padding-right:10px;
	font-size:12px;
	box-shadow:0 1px 1px 0 rgba(255,255,255,0.8),inset 0 3px 5px -4px rgba(0,0,0,0.6)
}

input[type=text].small.dark,input[type=email].small.dark,input[type=password].small.dark{
	box-shadow:0 0,inset 0 3px 5px -4px rgba(0,0,0,0.6)
}

input[type=text].small.search,input[type=email].small.search,input[type=password].small.search{
	background:url("/static/img/site/common/standard/icon_search_s12_grey.png") no-repeat 10px 13px white;
	padding-left:30px
}

input[type=text].light,input[type=email].light,input[type=password].light{
	border:1px solid silver
}

input[type=text].light:focus,input[type=email].light:focus,input[type=password].light:focus{
	outline:0;
	border-color:#039577;
	box-shadow:0 0 1px 1px #039577
}

input[type=text].dark,input[type=email].dark,input[type=password].dark{
	border:1px solid #999
}

input[type=text].dark:focus,input[type=email].dark:focus,input[type=password].dark:focus{
	outline:0;
	border-color:#1E79BF;
	box-shadow:0 0 3px 1px #1E79BF
}

textarea{
	box-shadow:0 1px 1px 0 rgba(255,255,255,0.8),inset 0 3px 5px -4px rgba(0,0,0,0.6);
	padding:10px;
	border:1px solid silver;
	font-size:13px;
	height:90px
}

textarea::-webkit-input-placeholder{
	color:#999
}

textarea:-moz-placeholder{
	color:#999
}

textarea::-moz-placeholder{
	color:#999
}

textarea:-ms-input-placeholder{
	color:#999
}

textarea:focus{
	outline:0;
	border-color:#00775b;
	box-shadow:0 0 1px 1px #039577
}

textarea.disabled{
	color:silver
}

select{
	box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-webkit-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	-moz-box-shadow:inset 0 1px 2px #DDD, 0 1px 0 #FFF;
	border:1px solid #CCC;
	background:#FFF;
	margin:0 0 5px;
	padding:10px;
	border-radius:5px;
	font-size:13px;
	line-height:110%;
	color:rgb(34, 125, 191);
}

select::-webkit-input-placeholder{
	color:#999
}

select:-moz-placeholder{
	color:#999
}

select::-moz-placeholder{
	color:#999
}

select:-ms-input-placeholder{
	color:#999
}

select.empty{
	color:#999
}

select.disabled{
	color:#999
}

select:focus{
	outline:0;
	border-color:rgb(34, 125, 191);
	box-shadow:0 0 1px 1px rgb(34, 125, 191)
}

.toggle{
	display:inline-block;
	height:30px;
	background:#f0f0f0;
	border:1px solid silver
}

.toggle .item{
	display:block;
	float:left;
	margin:0;
	padding:10px 15px;
	font-size:11px;
	font-weight:bold;
	color:#555;
	text-transform:uppercase;
	cursor:pointer
}

.toggle .item.selected{
	box-shadow:0 2px 6px 0 rgba(0,0,0,0.3) inset
}

body>.content{
	width:960px;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
	*zoom:1
}

body>.content:before,body>.content:after{
	content:"";
	display:table
}

body>.content:after{
	clear:both
}

body{
	min-width:960px
}

@media only screen and (max-width:600px){
	body{
		min-width:320px
	}

}

#fake_ajax{
	width:0;
	height:0
}

#loading_indicator{
	width:0;
	height:0
}

body>.header{
	width:100%;
	box-shadow:0 3px 8px 0 rgba(0,0,0,0.15);
	border-bottom:1px solid silver;
	margin-bottom:15px;
	background:#e0e0e0;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=$top_color,endColorstr=$bottom_color);
	background:-webkit-gradient(linear,left top,left bottom,from(#f0f0f0),to(#e0e0e0));
	background:-moz-linear-gradient(top,#f0f0f0,#e0e0e0)
}

body>.header .header-content{
	width:960px;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
	*zoom:1;
	position:relative;
	height:69px
}

body>.header .header-content:before,body>.header .header-content:after{
	content:"";
	display:table
}

body>.header .header-content:after{
	clear:both
}

body>.header .header-content div.search,body>.header .header-content ul.menu{
	display:inline;
	line-height:69px
}

body>.header .header-content .logo{
	margin-top:15px;
	margin-right:1em;
	float:left
}

body>.header .header-content ul.menu li{
	display:inline
}

body>.header .header-content div.search form{
	display:inline
}

body>.header .header-content div.search input{
	width:16em;
	margin-right:1em
}

body>.header .header-content ul.user.menu{
	position:absolute;
	right:10px;
	top:0
}

body>.header hr{
	border-top:1px solid #f0f0f0;
	margin:0
}

.footer{
	margin-top:100px;
	width:100%;
	background:#e0e0e0;
	*zoom:1
}

.footer:before,.footer:after{
	content:"";
	display:table
}

.footer:after{
	clear:both
}

.footer .footer-content{
	width:960px;
	margin:0 auto;
	padding-left:10px;
	padding-right:10px;
	*zoom:1;
	padding-top:15px;
	padding-bottom:15px
}

.footer .footer-content:before,.footer .footer-content:after{
	content:"";
	display:table
}

.footer .footer-content:after{
	clear:both
}

.footer .footer-content .connect{
	float:left
}

.footer .footer-content .connect h5{
	display:block;
	float:left;
	margin-top:2px
}

.footer .footer-content .connect .social{
	width:20px;
	height:20px;
	border-radius:5px;
	background:silver;
	display:block;
	float:left;
	margin-left:10px
}

.footer .footer-content .detail{
	float:right
}

.footer .footer-content .detail .legal{
	color:silver;
	float:right
}

.page_menu_container{
	height:60px
}

.page_menu_container ul.page_menu{
	z-index:1;
	background:white;
	padding-top:10px;
	border-bottom:1px solid silver;
	list-style-type:none
}

.page_menu_container ul.page_menu li{
	padding-bottom:15px;
	display:inline-block;
	margin:0 15px;
	font-size:11px;
	font-weight:bold;
	text-transform:uppercase
}

.page_menu_container ul.page_menu li.selected{
	border-bottom:4px solid silver
}

.page_menu_container ul.page_menu li:first-child{
	margin-left:15px
}

.page_menu_container ul.page_menu li:last-child{
	margin-right:15px
}

a.page_menu_target{
	display:block;
	padding-bottom:20px
}

.map{
	width:300px;
	border:1px solid silver
}

.map .canvas{
	width:298px;
	height:298px
}

.sprite-standard-logo_medium_green,.sprite-standard-container_banner-middle_medium_light,.sprite-standard-container_banner-left_medium_light,.sprite-standard-container_banner-edge_medium_light,.sprite-standard-icon_destination-shadow_s22,.sprite-standard-form_dropdown-arrow_small,.sprite-standard-icon_destination_s22_green,.sprite-standard-icon_destination-check_s22_blue,.sprite-standard-icon_destination-add_s22_red,.sprite-standard-icon_search_s12_white,.sprite-standard-icon_search_s12_grey,.sprite-standard-icon_search_s12_black,.sprite-standard-icon_checkmark_s12_grey,.sprite-standard-list_bullet_s4_grey{
	background-image:url("/static/gen/sprites/common/standard.png?f3cec6");
	background-repeat:no-repeat
}

.sprite-standard-logo_medium_green{
	background-position:0 0;
	width:166px;
	height:38px
}

.sprite-standard-container_banner-middle_medium_light{
	background-position:0 -38px;
	width:2px;
	height:40px
}

.sprite-standard-container_banner-left_medium_light{
	background-position:-2px -38px;
	width:2px;
	height:40px
}

.sprite-standard-container_banner-edge_medium_light{
	background-position:-4px -38px;
	width:20px;
	height:40px
}

.sprite-standard-icon_destination-shadow_s22{
	background-position:-24px -38px;
	width:31px;
	height:16px
}

.sprite-standard-form_dropdown-arrow_small{
	background-position:0 -78px;
	width:28px;
	height:30px
}

.sprite-standard-icon_destination_s22_green{
	background-position:-28px -78px;
	width:22px;
	height:26px
}

.sprite-standard-icon_destination-check_s22_blue{
	background-position:-50px -78px;
	width:22px;
	height:26px
}

.sprite-standard-icon_destination-add_s22_red{
	background-position:-72px -78px;
	width:22px;
	height:26px
}

.sprite-standard-icon_search_s12_white{
	background-position:-55px -38px;
	width:12px;
	height:12px
}

.sprite-standard-icon_search_s12_grey{
	background-position:-67px -38px;
	width:12px;
	height:12px
}

.sprite-standard-icon_search_s12_black{
	background-position:-79px -38px;
	width:12px;
	height:12px
}

.sprite-standard-icon_checkmark_s12_grey{
	background-position:-91px -38px;
	width:12px;
	height:12px
}

.sprite-standard-list_bullet_s4_grey{
	background-position:-103px -38px;
	width:4px;
	height:4px
}
